header{
    width: 100%;
    padding: 28px 8%;
    background-color: #C91E2D;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo{
    font-size: 24px;
    color: #FEFAF1;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: #FEFAF1;
    font-weight: 600;
}

.nav-item.active a{
    color: #ffffff;
    border-bottom: 3px solid #FEFAF1;
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}