@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #FEFAF1;
}

section{
    padding: 28px 8%;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C91E2D;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#btn_area_aluno{
    border: 1px solid #FEFAF1;
    color: #FEFAF1;
}

#btn_matricula{
    background-color: #FEFAF1;
    color: #C91E2D;
}

@media screen and (max-width: 1300px){
    #nav_list,
    #navbar .btn-default{
        display: none;
    }
    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    #mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;
    }
}